.clipboard{
    --clipboard-width: 700px;
    
    display: flex;
    justify-content: center;

    width: var(--clipboard-width);
    height: 100%;

    position: fixed;

    top: 91%;
    left: calc(50% - (var(--clipboard-width)/2));

    background: url("..\resources\Clipboard(New).png");
    background-repeat: no-repeat;
    background-size:100% 100%;

    transition: all 0.3s;

    z-index: 99;
}

.clipboard-btn{
    position: absolute;
    top: 8px;

    width: 10%;
    aspect-ratio: 1;

    border: 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px inset rgba(0, 0, 0, 0.259);

    background-color: #ffc90a;

    background: url("..\resources\cross-sign.png");
    background-repeat: no-repeat;
    background-size:100% 100%;

    cursor: pointer;

    transform: rotate(-45deg);

    transition: all 0.4s;
}

.clipboard.enabled{
    top:0px;
}

.clipboard-btn.enabled{
    transform: rotate(0deg);
}

.clipboard-content{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 18%;

    width: 90%;
    height: 78%;

    border-radius: 20px;

    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.089);

    background-color: #fffefe;
}
