.unfocused-background{
    position: absolute;
    width: 100%;
    height: 100%;

    visibility: hidden; 
    pointer-events: none;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.2);

    transition: all 0.3s;
}

.unfocused-background.enabled{
    visibility : visible; 
    pointer-events : all;
    opacity: 1;
}

.clipboard{
    --clipboard-width: 700px;
    
    display: flex;
    justify-content: center;

    width: var(--clipboard-width);
    height: 100%;

    position: fixed;

    bottom: -94%;
    left: calc(50% - (var(--clipboard-width)/2));

    background: url("..\resources\Clipboard.png");
    background-repeat: no-repeat;
    background-size:100% 100%;

    transition: all 0.3s;

    z-index: 99;
}

.clipboard-btn{
    position: absolute;
    top: 4px;

    width: 50px;
    aspect-ratio: 1;

    border: 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px inset rgba(0, 0, 0, 0.259);

    background: url("..\resources\cross-sign.png");
    background-repeat: no-repeat;
    background-size:100% 100%;

    cursor: pointer;

    transform: rotate(-45deg);

    transition: all 0.4s;
}

.clipboard.enabled{
    bottom:0px;
}

.clipboard-btn.enabled{
    transform: rotate(0deg);
}

.clipboard-content{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 12%;

    width: 95%;
    height: 85%;

    border-radius: 20px;

    background-color: #fffefe;
}
