html, body{
    margin: 0px;
    font-family: 'Segoe UI';
}

body{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(240, 240, 240);
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;

    border-top: 2px solid #004D79;
    border-right: 2px solid #004D79;
    border-radius: 50%;

    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.error-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;

    background: url("..\resources\error.png");
    background-repeat: no-repeat;
    background-size:100% 100%;

    animation: appear 1s linear forwards;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
