html, body{
    margin: 0px;
    font-family: 'Segoe UI';
}

button{
    width: 300px;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgb(240, 240, 240);
}

