.input-wrapper{
    position: relative;
    height: 40px;
    width: 275px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

label{
    position: absolute;

    font-size: 15px;

    color: rgb(157, 157, 157);

    top: 50%;
    transform: translateY(-50%);

    left: 5px;

    z-index: 2;

    cursor: text;

    transition: all 0.4s;
}

input{
    position: absolute;

    box-sizing: border-box;

    width: 100%;
    height: 80%;
    top: 20%;

    border: 0px;

    padding-left: 5px;

    background-color: transparent;
}

input:focus{
    outline: none;
}

input:focus~label,input:not(:placeholder-shown)~label{
    font-size: 12px;
    transform: translateY(-125%);
}