.form-title{
    font-size: 24px;

    text-align: center;

    padding-bottom: 25px;
    border-bottom: 1px solid rgb(146, 146, 146);

    color: rgb(146, 146, 146);
}

.form-patient{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px 0px 10px;

    flex-grow: 1;
}

.personal-data{
    flex-grow: 1;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;

    border-bottom: 1px solid rgb(146, 146, 146);
}

#nmPatient-wrapper{
    flex-basis: 335px;
}
#dtBorn-wrapper{
    flex-basis: 200px;
}
#dsEmail-wrapper{
    flex-grow: 1;
    margin: 0px 15px 0px 15px;
}

.location-data{
    flex-grow: 2;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
}

#nmDistrict-wrapper{
    flex-basis: 350px;
}

#dsAddress-wrapper{
    flex-basis: 800px;
    margin: 0px 15px 0px 15px;
}

#nrAddress-wrapper{
    flex-basis: 100px;
    margin-left: 15px;
}

#dsComplement-wrapper{
    flex-grow: 1;
    margin: 0px 15px 0px 15px;
}

#cdUf-wrapper{
    flex-basis: 85px;
}

#submit-btn{
    width: 180px;
    height: 50px;

    border: 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    margin: 20px 0px 15px 0px;

    background-color: #004D79;
    color: white;

    transition: all 0.4s;
}

#submit-btn:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

#submit-btn:active{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1) inset;
}

.form-patient>div>div{
    position: relative;
    height: 60px;
    width: 275px;

    border-radius: 5px;

    overflow: hidden;

    padding: 4px;

    border-bottom: 1px solid rgb(146, 146, 146);;

    background-color: #f5f5f5;
}

.form-patient label{
    position: absolute;

    font-size: 16px;

    color: rgb(157, 157, 157);

    top: 50%;
    transform: translateY(-50%);

    left: 10px;

    z-index: 2;

    cursor: text;

    transition: all 0.4s;
}

.form-patient input{
    position: absolute;

    box-sizing: border-box;

    width: 95%;
    height: 80%;
    top: 20%;

    border: 0px;

    padding-left: 5px;

    font-size: 19px;
    font-weight: lighter;

    background-color: transparent;
}

.form-patient input:focus{
    outline: none;
}

.form-patient input:focus~label, .form-patient input:not(:placeholder-shown)~label{
    font-size: 13px;
    transform: translateY(-125%);
}