main{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 88%;
    
    border: 2px dotted black;
}

.nmPatient-filter{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}